@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    background: #0a2a43;
    max-width: 1250px;
    min-height: 1500px;
    font-family: 'Roboto Mono', monospace;
    margin: auto;
}

a{
    text-decoration: none;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 5;
}

/* HAS TO MAKE BnW IMAGES */
section:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #0a2a43;
    z-index: 2;
    mix-blend-mode: color;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#text{
    position: relative;
    color: #fff;
    font-size: 9em;
    z-index: 1;
}

#road{
    z-index: 2;
}

.title{
    margin: 95px 0 10px 0;
    text-align: center;
    font-size: 35px;
    color: #fff;
}

.mainText{
    text-align: justify;
    font-size: 16px;
    color: #fff;
}